<a href="https://colab.research.google.com/github/keunsooyoon/pythonclass2211/blob/main/PythonDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!!")

Hello World!!!

- 파이썬이란...
귀도 반 로썸 1990년에 개발한 인터프리터 언어이다. (컴파일러와 인터프리터가 있으며 한줄한줄 코드를 해석해서 실행 결과를 바로 확인할 수 있는 언어이다....)

 로고는 고대 신화에 나오는 동굴에 살던 큰 뱀을 뜻한다.

 파이썬 교육용으로 많이 사용되기도 하지만 업무용으로도 전혀 손색이 없다.

  파이썬 언어의 특징
  - 문법이 쉽다.
  - 빠르게 배울 수 있다.
  - 무료지만 강력하다.
  - 즐거운 프로그래밍이 가능하다.

  파이썬으로 할수 있는 것
  - 인공지능
  - 빅데이터
  - GUI 애플리케이션
  - c / c++ 결합
  - 웹 프로그래임 (Flask, Django)
  - 데이터베이스

 파이썬 약점
 - 시스템과 밀접한 프로그래밍
 - 모바일 프로그래밍

 IDE 개발도구
 - Colab
 - Anaconda
 - VS Code
 - pyCharm

# 변수

숫자, 문자 등등을 다룰 때 컴퓨터에서는 변수 variable 을 사용하게 된다.

In [ ]:
a = 1
a = 2
b = "python"
b = "java"

print(a)
print(b)
print(type(a)) # 타입을 알수 있다.
print(b,"!")
print(b+"!") # 문자열에 붙여서 출력.  print 기본값에 \t 포함

2
java
<class 'int'>
java !
java!

# **자료형**

자료형이란 프로그래밍에서 자료 형태로 문자/숫자...를 사용하는 것을 말한다. 프로그래밍의 핵심이자 기본이 바로 자료형이다. 자료형을 충분히 이해해야만 프로그래밍을 잘 할수 있다.

1. 숫자형

숫자형 자료형은 숫자 형태 (정수, 실수 등등) 로 이루어진 자료형이다.

정수  1 , 2         
- int() 정수형으로 변환

실수  2.14, 3.84.  
- float() 실수형으로 변환


정수형 (Integer)

In [ ]:
a = 3
b = 5

# print는 생략해도 출력이 되지만 정상은 print구문을 사용하는 것이다.
print(a+b) # 주석 comment 은 컴퓨터는 읽지 않는다.
print(a-b)
print(a*b)
print(a/b)

8
-2
15
0.6

In [ ]:
# 나머지 연산자는 몫이 아닌 나머지를 구한다.
# 나머지 연산자를 통해 짝수, 홀수, 배수를 알아낼수 있다.

a = 7
b = 3

print(a%b)
print(8%2) # 어떤수를 2로 나눈 나머지가 1이면 할상 홀수이고 나머지가 0이면 할상 짝수
print(8%4) # 어떤수를 어떤수로 나눈 나머지가 0이면 항상 그 수의 배수이다.

1
0
0

In [ ]:
# 몫을 알고 싶을 때는 //

print(9//2)

4

# 문자열 자료형

문자열을 문자, 단어, 문장 등으로 구성된 글자들의 집합이다.

str() 문자형으로 변환

In [ ]:
a = "b"
b = "hello"
c = "awesome class"
d = "123" # 123 숫자 123과는 다른 문자 "123" 이다.

print(a)
print(b)
print(c)
print(d)

#자바 등과 같은 언어에서는 변수를 사용할때 형까지도 지정을 해주어야만한다.
# char a = "b";
# string b = "hello";
# int c = 5;

b
hello
awesome class
123

In [ ]:
# 파이썬에서 문자열은 "" 큰따옴표 '' 작은까옴표 기본적으로 동일하게 취급한다.

a = "Hello"
b = 'Hello'

print(a)
print(b)

# 하지만 아래의 경우 약간 다르게 처리된다.

a = 'Hello "Austin"'
print(a)

b = "Hello 'Austin'"
print(b)

# """   """ dod string . 컴퓨터도 읽는 주석
# '''   ''' 

# 백슬래시를 넣으면 기능이 무시되고 글자로만 취급된다.
a = "Hello \"Austin\""
b = 'Hello \'Austin\''

print(a)
print(b)

Hello
Hello
Hello "Austin"
Hello 'Austin'
Hello "Austin"
Hello 'Austin'

In [ ]:
# \ 백슬래시를 사용하는 것을 이스케이프 코드를 사용한다라고 표현한다.
# \'
# \"
# \n 강제 줄바꿈
# \t 일정 간격 띄우기

a = "hello \nworld"
print(a)

b = "hello\t\t\tworld"
print(b)

hello
world
hello			world

파이썬에서 아주 중요한 자료형 4가지
- List
- Tuple
- Dict
- Set

#List     [    ]

- mutable 수정가능하다.
- 파이썬에서 가장 많이 사용된다.
- indexing / slicing 이 가능하다.


# Tuple   (     )

- immutable 수정불가능하다.
- indexing / slicing 가능하다.
- 요소를 하나만 저장할때도 쉼표를 붙인다.

#Dic  {    }

- mutable 수정가능하다.
- indexing / slicing 불가능하다.
- 키값 - 벨류값 쌍으로 구성된다.

#Set  {    }

- mutable 수정가능하다.
- indexing / slicing 불가능하다.
- 중봅 값을 허용하지 않는다.

#List [ ]
- mutable 수정가능하다.
- 파이썬에서 가장 많이 사용된다.
- indexing / slicing 이 가능하다.

In [ ]:
# 리스트 작성

emp1 = []
odd2 = [1, 3, 5, 7, 9]
str3 = ["하나", "둘", "삼"]
mix4 = [1, 2, "삼"]

print(emp1)
print(odd2)
print(str3)
print(mix4)

# 리스트에서 인덱싱 indexing (파이썬에서의 인덱싱은 0에서부터 시작한다.)

alist = [10, 20, 30, 40, 50]

print(alist[0])
print(alist[0] + alist[1])
print((alist[0] + alist[1] + alist[2] + alist[3] + alist[4])/5)

[]
[1, 3, 5, 7, 9]
['하나', '둘', '삼']
[1, 2, '삼']
10
30
30.0

In [ ]:
# 슬라이싱 slicing 하나씩 추출하는 인덱싱과는 달리 여러개를 추출한다.

blist = "12345"

blist[0:2]  # 0부터 2미만, 2는 포함하지 않는다.
blist[:3]   # 시작을 생략하면 처음부터 3미만까지 3은 포함하지 않는다.
blist[0:]   # 마지막을 생략하면 마지막까지
blist[:-2]  # -는 역순 표시
blist[::-1] # 역순으로 처음까지 표시

'54321'

In [ ]:
# 리스트에서의 연산

# 리스트 더하기

alist = [1,2,3,4,5]
blist = [6,7,8,9,10]

print(alist + blist)

#리스트 곱하기  (리스트들을 반복하여 연결된 합느로 나타낸다.)

print(alist * 3)

# 리스트의 갯수 구하기

print(len(blist))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5

In [ ]:
# 리스트의 수정 mutable

alist = [1,2,3,4,5]
alist[2] = 0    # 2는 자리번호
print(alist)

# 리스트의 삭제

del alist[2]
print(alist)

[1, 2, 0, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 리스트에서 많이 사용되는 함수들

# append - 리스트에 요소를 추가하는 기능

alist = [1,2,3,4,5]

alist.append(6)

print("리스트에 6을 추가한 값은",alist,"입니다.")

리스트에 6을 추가한 값은 [1, 2, 3, 4, 5, 6] 입니다.

In [ ]:
# sort - 리스트에서 요소들을 정렬하는 기능

blist = [2,4,3,5,1]
blist.sort()
print("리스트를 순서대로 정렬한 값은",blist,"입니다.")

리스트를 순서대로 정렬한 값은 [1, 2, 3, 4, 5] 입니다.

In [ ]:
# reverse - 리스트에서 요소들을 그대로 뒤집는 기능

clist = [1,2,3]
clist.reverse()
print("원래 리스트를 역순으로 출력한 결과는",clist,"입니다.")

원래 리스트를 역순으로 출력한 결과는 [3, 2, 1] 입니다.

In [ ]:
# index - 리스트에서 특정 값의 위치를 변환하는 기능

dlist = [1,2,3,4,5]
print("숫자 2의 인덱스 값은 ", dlist.index(2), "입니다.")

숫자 2의 인덱스 값은  1 입니다.

In [ ]:
# insert - 리스트의 특정 위치에 요소를 추가하는 함수

elist = [1,2,3,4,5]
elist.insert(0, 0)   # (특정위치인덱스, 넣을값)
print(elist)

[0, 1, 2, 3, 4, 5]

In [ ]:
# remove - 리스트에서 요소를 삭제하는 기능

flist = [1,2,3,4,5,3]
flist.remove(3) # 리스트에서 삭제할 갑을 입력, 같은 값이 여러개 있을 경우 처음등장하는 값을 
print(flist)

[1, 2, 4, 5, 3]

In [ ]:
# pop - 리스트에서 마지막 요소를 제거하는 용도로 주로 쓰지만 특정 위치로도 삭제

glist = [1,2,3,4,5]

glist.pop()   # 마지막 삭제
glist.pop()
print(glist)

glist.pop(0)  # 0번째 삭제
glist.pop(0)
print(glist)

[1, 2, 3]
[3]

In [ ]:
# join - 앞에 구분자가 붙고 join 함수의 파라미터로 리스트 객체를 입력 -str만
hlist = ["1","2","3","4","5"]

hlist_join = ' '.join(hlist)
print(hlist_join)

hlist_join = '\n'.join(hlist)
print(hlist_join)

1 2 3 4 5
1
2
3
4
5

In [ ]:
# split - 문자열을 리스트로 구분
ilist = "1,2,3,4,5" # - 문자열

a = ilist.split()  # 리스트로 구분
print(a)

a = ilist.split(',')  # "," 를 기준으로 구분
print(a)

['1,2,3,4,5']
['1', '2', '3', '4', '5']

In [ ]:
# 리스트에서 요소의 개수 세기 기능

jlist = [1,2,3,1]
print(jlist.count(1))

2

In [ ]:
# 리스트의 확장은 기존 리스트에 다른 리스트를 더하여 하나의 리스트로 만든다.

a = [1,2,3]

a.extend([4,5])

print(a)

[1, 2, 3, 4, 5]

In [ ]:
무비리스트 = ["자백","리맴버","블랙마담" ]
print(무비리스트)

['자백', '리맴버', '블랙마담']

In [ ]:
# 튜플 Tuple

# 튜플은 리스트와 거의 동일하지만 immutable 즉 한번 생성하면 
# 수정도 삭제도 불가능하다는 특징이 있다.
# (   )  소괄호로 만든다.

tuple1 = ()
tuple2 = (1,) # 튜플은 원소 하나짜리로 만들때는 괜히 쉼표를 넣는다.
tuple3 = (1,2,3)
tuple4 = 1,2,3  # 튜플은 괄호를 생략 할수 있다.
tuple5 = (1,2,3,(4,5,6))  # 튜플 안에 튜플도 포함 할수 있다.

In [ ]:
tuple1 = (1,2,3,4)
# del tuple1[0] 튜플에서 삭제가 불가능하다.
tuple1[0] = 0 # 튜플에서는 변경도 불가능하다.
# immutable

TypeError: ignored

In [ ]:
# 튜플은 인데싱이 가능하다.
tu1 = (1,2,3,4,5)

tu1[-1] # -1은 리스트와 튜플에서 마지막 인덱스 번호이다.

5

In [ ]:
# 튜플에서 슬라이싱도 가능하다.
tu1 = (1,2,3,4,5)
tu1[0:3]  # 두번째 숫자는 미만으로 해석된다.

(1, 2, 3)

In [ ]:
# 튜플의 요소 갯수

tu1 = (1,2,3,4,5)
print(len(tu1))

5

In [ ]:
# 딕셔너리 Dict

# 이름 그대로 dictionary 사전 처럼 키값:밸류값의 쌍으로 데이터가 
# 저장되는 자료형이다.
# 리스트처럼 mutable 한 속성을 가지고 있으나 인덱싱과 슬라이싱은 
# 지원하지 않는다. 순서가 없다. 따라서 키값으로 밸류 값을 꺼낸다.

adict = {5:'a',3:'b',2:'c'}

print(adict[5])

print(adict)

adict[9] = 'd'

print(adict)

del adict[3]

print(adict)

a
{5: 'a', 3: 'b', 2: 'c'}
{5: 'a', 3: 'b', 2: 'c', 9: 'd'}
{5: 'a', 2: 'c', 9: 'd'}

In [ ]:
adict[0]  # 딕셔너리는 인덱싱과 슬라이싱이 불가능하다.

KeyError: ignored

In [ ]:
# 딕셔너리에서 키값만 추출하는 기능 Keys

adict = {5:'a',3:'b',2:'c'}

print(adict.keys())

# 딕셔너리에서 밸류값만 추출하는 기능 values
print(adict.values())

# 딕셔너리에서 쌍으로 추출하는 기능 items
print(adict.items())

# 딕셔너리에 키값이 존재하는지 확인하는 기능 in

5 in adict

dict_keys([5, 3, 2])
dict_values(['a', 'b', 'c'])
dict_items([(5, 'a'), (3, 'b'), (2, 'c')])

True

In [ ]:
# Set 집합

# 중복을 허용하지 않는다.
# 삽입 삭제가 가능한 mutable 한 속성을 갖는다.
# 인덱싱과 슬라이싱이 불가능하다. (unordered)

s1 = {1,2,3,4,1,2,}
print(s1)

print(type(s1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# Boolean Ture False  (반드시 대문자)                          Alan Turing -영화 이미테이션게임, 스티브 잡스

In [ ]:
# 숙제용 문법 

a = "hi"
print(a)

hi

In [ ]:
a = input("출력할 내용을 입력하세요")
print("입력하신 내용은", a, "입니다.")

출력할 내용을 입력하세요물고기
입력하신 내용은 물고기 입니다.